# Model requirements - pinned for Python 3.7 compatibility
scikit-learn==1.0.2
lightgbm==3.3.5
joblib==1.2.0
shap==0.40.0
# package source will be provided at run time
-r ../../package/requirements.txt
